@import url('https://css.gg/search.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

html{
  scroll-behavior: smooth; 
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
  
  }
  nav {
    
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content:space-between ;
    align-items: baseline;
  }

  .nav_info{
    margin-right: 100px ;
  }

  nav a {
    color: white;
    text-decoration: none;
  }
  header {
    background-color: #333;
    color: white;
    padding: 20px;
  }

  h1{
    font-size: 50px;
    font-weight: bold;
    margin: 0;
  }
 .card-title{
  font-weight: bold;
 }
  
  
  input[type="text"] {
    width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }



.logoAndHeader {
  height:90px;
  width: 90px;
}


.containers{
  overflow-y: scroll;
  scroll-snap-type: y proximity;
}
.containers::-webkit-scrollbar {
  display: none;
}

.card_container {
  flex: none;
  scroll-snap-align: start;
  
  display: flex;
  width: 100vw;
  height: auto;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  
  padding: 30px;
  overflow-y: hidden;
  overscroll-behavior-inline: contain;
}




.card_box{
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  scroll-snap-align: start;
  padding-top: 100px;
  

}

.card {
  flex-direction: row;
  flex-wrap: wrap;
  width: 650px;
  margin: 10px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
  border-width: 1px;
  border-color: rgb(61, 60, 60);
  padding: 10px;
  height: auto;

}

.card:hover {
  box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  opacity: 1;
  
}

.image_and_info{
  display: flex;
  flex-direction: row;
  max-height: 350px;
}
.product_info{
  
  margin-top: 10px;
  padding-left: 35px;
  max-height: 350px;
}
.product_button{
  margin-top: 30px;
  margin-bottom: 10px;
  
}

.product_image{
  height: 230px;
  zoom: 1.2;
  margin-left: 20px;
  max-width: 230px;
}

.site_header {
  margin: auto;
  
}