@import url('https://css.gg/search.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
body {
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
  
  }
  nav {
    
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content:space-between ;
    align-items: baseline;
  }

  .nav_info{
    margin-right: 100px ;
  }

  nav a {
    color: white;
    text-decoration: none;
  }
  header {
    background-color: #333;
    color: white;
    padding: 20px;
  }
  header h1 {
    margin: 0;
    font-size: 24px;
  }
  
  
  input[type="text"] {
    width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }


.product_image{
  inline-size: 100%;
  width: fit-content;
  height: 450px;
  object-fit: cover;
}

.containers{
  
  scroll-snap-type: y proximity;
}

.card_container {
  
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  padding: 50px;
  overflow-y: scroll;
  overscroll-behavior-inline: contain;
}


.card_box{
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  scroll-snap-align: start;
}

.card {
  width: 350px;
  margin: 10px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 20px;
}

.card:hover {
  box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  opacity: 1;
}

.site_header {
  margin: auto;
  
}