@import url('https://css.gg/search.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

html{
  scroll-behavior: smooth; 
  margin: 0;
  padding: 0;
  
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
  position: relative;
  
  
  
  }

  .info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    margin: 0;
    top: 300px;
    
  }

  .info_header{
    align-items: center;
  }
  
  .logoAndSearch{
    display: flex;
    flex-direction: row;
    /* justify-content: unset; */
    align-items: center;
    padding-left: 200px;
    background-color: transparent;
  }

  .logoAndHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-right: 100px; */
    margin-right: 220px;
    background-color: transparent;
    
  }

  .logo {
    width: 70px;
    height: 70px;
  }
  .W_Header{
    font-size: 20px;
    cursor: default;
    
  }


  nav {
    
    background-color: #ff6a00;
    color: white;
    position: relative;
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
    padding: 5px;
  }

  .nav_info{
    margin-right: 100px ;
  }

  nav a {
    color: white;
    text-decoration: none;
  }
  header {
    background-color: #333;
    color: white;
    padding: 20px;
  }

  h1{
    font-size: 50px;
    font-weight: bold;
    margin: 0;
  }
 .card-title{
  font-weight: bold;
 }
  
  

  input[type="text"] {
    width: 400px;
    padding: 8px 14px;
    margin: 3px -3px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }

 .Submit{
    width: 50px;
    height: 44px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-left: -4px;
    background-color: #fff;
    align-items: center;

 }
 .Submit:hover{
  background-color: rgb(18, 17, 17);
  cursor: pointer;
  color: white;
 }

 .Submit:hover i{
  color: rgb(246, 130, 6);
 }



.containers{
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  
}
.containers::-webkit-scrollbar {
  display: none;
}

.card_list{
  width: 100%;
  position: relative;
  margin: 10px 0 20px;
}


.card_container {
  position: relative;
  flex: none;
  display: flex;
  width: 96%;
  height: auto;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 30px;
  overscroll-behavior-inline: contain;
  scroll-behavior: smooth;
}

.card_container::-webkit-scrollbar {
  display: none;
}

.card_container_no_match {
  flex: none;
  scroll-snap-align: start;
  
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  padding: 30px;
  overscroll-behavior-inline: contain;
}

.no_match_containers {
  display: flex;
  flex-direction: row;
}


.card_box{
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 550px;
  scroll-snap-align: start;
  perspective: 500px;
}

h2 {
  text-align: center;
  padding-top: 10px;
  padding-left: 40px;
}

.card {
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 15px;
  box-shadow: 0 8px 12px 0 rgba(190, 188, 188, 0.466);
  transition: transform 600ms ease;
  transform-style: preserve-3d;
  border-radius: 10px;
  overflow: visible;
  border-width: 1px;
  border-color: rgb(150, 149, 149);
  padding: 2px;
  height: auto;
  overflow-y: hidden;
  overflow-x: hidden;
 

}

.card:hover {
  box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.2);
  border-color: rgb(0, 0, 0);
  transform: scale(1.05);
  opacity: 1;
}

.comment-btn{
  position: relative;
  z-index: 20;
  pointer-events: auto;
  cursor: pointer;
}




.frontside{
  visibility: visible;
  transition-delay: 0.25s;

}

.backside-comments{
  position: absolute;
  visibility: hidden;
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  overflow-y: scroll;

}
.image_and_info{
  display: flex;
  flex-direction: row;
  height: auto;
}
.product_info{
  
  margin-top: 25px;
  padding-left: 20px;
  padding-right: 7px;
  max-height: auto;
}

.user-img{
  height: 50px;
  width: 50px;
  margin: 10px;
}

.most-pos-comm{
  display: flex;
  flex-direction: column;
}

.img-and-comm{
  display: flex;
}
.amazon_button{
  
  margin-top: 8px;
  margin-bottom: 10px;
  border-radius: 7px;
  width: 120px;
  height:40px;
  border:none
}
.amazon_button:hover{
  
  background-color: rgba(83, 78, 78, 0.346);
}




.trendyol_button{
  margin-top: 8px;
  margin-bottom: 10px;
  border-radius: 7px;
  width: 120px;
  height: 40px;
  border:none
}

.trendyol_button:hover{
  background-color: rgba(83, 78, 78, 0.346);
}


.amazon_button img{
  width: 75px;
  height: 30px;
  object-fit: contain;
  background-color: transparent;
}

.trendyol_button img{
  width: 75px;
  height: 30px;
  object-fit: contain;
  background-color: transparent;
}

.product_image_amazon{
  height: 180px;
  zoom: 1.2;
  margin: 24px;
  max-width: 120px;
  object-fit: scale-down;
  margin-left: 7px;
}

.product_image_trendyol{
  height: 160px;
  zoom: 1.8;
  margin: -4px;
  max-width: 120px;
  object-fit: scale-down;
  margin-left: 7px;
}

.site_header {
  margin: auto;
  
}

.posNegRatio{
  align-self: center;
}

.pre-btn, .nxt-btn{
  top: 100px;
  width: 5%;
  height: 70%;
  z-index: 2;
  border: none;
  cursor: pointer;
  outline: none;

}
.pre-btn{
  left: 0;
  background: linear-gradient(to right, #fff 0%, #fff);
}

.nxt-btn{
  transform: rotate(180deg);
  right: 0;
  background: linear-gradient(to left, #fff 0%, #fff);
}

.back_btn{
  height: 40%;
  z-index: 2;
  border: none;
  cursor: pointer;
  outline: none;
  background: none;
  margin-left: 5px;
}

.comments-btn{
  background-color: white;
  z-index: 2;
  border: none;
  cursor: pointer;
  outline: none;
  margin-bottom: 1rem;
  margin-left: -8px;
}

.comments-top{
  display: flex;
  justify-content: space-evenly;
}


.pre-btn img, .nxt-btn img{
  width: 20px;
  height: 25px;
  opacity: 1;
  background-color: transparent;
  background: transparent;
}

.buttonsAndLabel{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}
.group_labels{
  font-size: 17px;
  font-weight: bold;
}

.page_footer{
  
  width: 100%;
  display: flex;
  bottom: 0px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: white;
  margin-top: 20px;
  position: relative;

}


.price{
  
  height: 20px;
  width: 20px;
}

.rate{
  
  height: 20px;
  width: 23px;
}

.shipped{
  
  height: 20px;
  width: 23px;
}

