<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.cdnfonts.com/css/amazon-ember" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <title>ISRS</title>
  
</head>
<body>
  <nav>
    <div class="logoAndHeader">
      <img class="logo" src="/static/logo.png" alt="">
      <h1 class="W_Header">SRS</h1>
      </div>
      <nav>
        <form action="/search" method="post">
          <input id="searchBar" class = "search_bar" type="text"  name="query" placeholder="Search for products...">
          <input id="searchBar" class = "search_bar" type="text"  name="brand" placeholder="Enter the brand">
          <input type="submit" value="Search">
          </form>
      </nav>
    <div class="nav_info">
        <a style="font-family: 'Source Sans Pro', sans-serif;"href="#">Home</a> |
        <a href="#">About</a> |
        <a href="#">Contact</a>
    </div>
  </nav>

<div class="containers">
  

  {% block groups %} {% endblock %}
 

</div>


<div class="container-fluid justify-content-between">
  <div class="row">
    <div class="col">
      <h2>More Products From Amazon</h2>

        {% block no_match_amazon %} {% endblock %}

    </div>
  <div class="col">
      <h2>More Products From Trendyol</h2>
      {% block no_match_trendyol %} {% endblock %}

  </div>
  </div>
  

</div>

    
  <script src="https://kit.fontawesome.com/2d3a71017c.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>
