{% extends '_base.html' %}

{% block groups %}

{% for group in matched %}

<div class="card_list">
  
  <div class="buttonsAndLabel">
  <button class="pre-btn"> <img src="/static/images/back.png" alt=""></button>
  <button class="nxt-btn"> <img src="/static/images/back.png" alt=""></button>
  <div class="group_labels">{{ labels[loop.index0]["name"] }}</div>
  </div>

<div class="card_container">

{% for item in group %}

<div class="card_box">
  <div class="card">
    <div class="image_and_info">
      <img class="product_image" src="{{ item["image"] }}"  alt="...">
      
        <div class="product_info">
          <p class="card-title">{{ item["name"] }}</p>
          <p class="card-text">Price: {{ item["price"] }} TL</p>
          <p class="card-text">Rating: {{ item["rating"] }}</p>
          <p class="card-text">Times-Rated: {{ item["rating_count"] }}</p>
          <p class="card-text">Merchant: {{ item["merchant_name"] }} ({{ item["merchant_rating"] }})</p>
          <div class="product_button">
            <a href="{{ item["link"] }}"  target="_blank" rel="noopener noreferrer" class="btn btn-primary">Go to Product</a>
          </div>
        </div>
        
    </div> 
      
  
    </div>
  </div>
{% endfor %}
</div>
</div>
{% endfor %}
{% endblock %}


{% block no_match_amazon %}
<h2 style="text-align:center; font-weight: bold;">More Products From Amazon</h2>

{% for item in not_matched_amazon %}
<div class="card_box">
  <div class="card">
    <div class="image_and_info">
      <img class="product_image" src="{{ item["image"] }}"  alt="...">
      
        <div class="product_info">
          <p class="card-title">{{ item["name"] }}</p>
          <p class="card-text">Price: {{ item["price"] }} TL</p>
          <p class="card-text">Rating: {{ item["rating"] }}</p>
          <p class="card-text">Times-Rated: {{ item["rating_count"] }}</p>
          <p class="card-text">Merchant: {{ item["merchant_name"] }} ({{ item["merchant_rating"] }})</p>
          <div class="product_button">
            <a href="{{ item["link"] }}"  target="_blank" rel="noopener noreferrer" class="btn btn-primary">Go to Product</a>
          </div>

        </div>
        
    </div> 
      
  
    </div>
  </div>
  {% endfor %}
{% endblock %}

{% block no_match_trendyol %}
<h2 style="text-align:center; font-weight: bold;">More Products From Trendyol</h2>

{% for item in not_matched_trendyol %}
<div class="card_box">
  <div class="card">
    <div class="image_and_info">
      <img class="product_image" src="{{ item["image"] }}"  alt="...">
      
        <div class="product_info">
          <p class="card-title">{{ item["name"] }}</p>
          <p class="card-text">Price: {{ item["price"] }} TL</p>
          <p class="card-text">Rating: {{ item["rating"] }}</p>
          <p class="card-text">Times-Rated: {{ item["rating_count"] }}</p>
          <p class="card-text">Merchant: {{ item["merchant_name"] }} ({{ item["merchant_rating"] }})</p>
          <div class="product_button">
            <a href="{{ item["link"] }}"  target="_blank" rel="noopener noreferrer" class="btn btn-primary">Go to Product</a>
          </div>

        </div>
        
    </div> 
      
  
    </div>
  </div>
  {% endfor %}
{% endblock %}


